.propos-grid {
    display: flex;
    flex-direction: column;
    margin-top: 63px;
    margin-bottom: 63px;
    row-gap: 43px; 
}

.propos-img {
    height: 223px;
    border-radius: 25px;
    position: relative;
    background-position: center center;
}

.propos-img-background {
    background: #000000;
    opacity: 0.3;
    mix-blend-mode: darken;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 25px;
}

.propos-collapse {
    display: flex;
    flex-direction: column;
    row-gap: 31px;
}

@media screen and (max-width: 375px) {
    .propos-grid {
        margin-top: 17px;
        margin-bottom: 17px;
        row-gap: 19px;
    }
    .propos-img {
        border-radius: 10px;
        height: 223px;
        width: 100%;
        background-size: contain;
    }
    .propos-img-background {
        border-radius: 10px;
    }
    .propos-collapse {
        row-gap: 20px;
    }
}