.carrousel {
    position: relative;
    display: flex;
}

.index {
    height: 100%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    padding-right: 2%;
    padding-left: 2%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none;
}

.carrousel-chevron {
    color: white;
    height: 80px;
}

.index-count {
    font-size: 18px;
    color: #FFFFFF;
    align-self: flex-end;
    padding-bottom: 25px;
}

.carrousel-img {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

@media screen and (max-width: 375px) {
    .carrousel-img {
        height: 255px;
    }
    .index-count {
        display: none;
    }
    .carrousel-chevron {
        height: 20px;
    }
}