.collapse-container {
    display: flex;
    flex-direction: column;
}

.collapse-title {
    height: 47px;
    background: #FF6060;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-left: 1.8%;
    padding-right: 1.8%;
    font-size: 24px;
    font-weight: 400px;
}

.open {
    background: #F7F7F7;
    border-radius: 5px;
    font-weight: 400;
    font-size: 24px;
    color: #FF6060;
    padding: 2%;
}

.closed {
    display: none;
}

@media screen and (max-width: 375px) {
    .collapse-title {
        font-size: 13px;
        font-weight: 500;
        line-height: 19px;
    }
    .open {
        font-size: 12px;
        font-weight: 500;
        line-height: 19px;
    }
}
