.navbar {
    height: 68px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
}

.navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.klogo {
    padding-bottom: 6px;
    padding-right: 6px;
}

.logologo {
    height: 53px;
    padding-right: 12.5px;
}

.slogo-alogo {
    padding-bottom: 6px;
    display: flex;
    flex-direction: row;
    column-gap: 11px;

}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 57px;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-nav-elements {
    font-size: 24px;
    color: #ff6060;
    text-decoration: none;
    text-align: right;
}

.current-location {
    text-decoration: underline;
}




@media screen and (max-width: 375px) {
    .navbar {
        height: 47px;
    }
    .klogo {
        height: 43px;
        padding-bottom: 4px;
    }
    .logologo {
        height: 37px;
        padding-right: 8.5px;
    }
    .slogo-alogo {
        column-gap: 8px;
    }
    .slogo-alogo-elements{
        height: 33px;
    }
    .navbar-nav {
        column-gap: 10px;
    }
    .navbar-nav-elements {
        font-size: 12px;
        text-transform: uppercase;
    }
}

